<div class="topbar clearfix">
    <a class="topbar-left"
        routerLink="">
        <img class="logo" src="./assets/layout/images/logo.png">
    </a>

    <div class="topbar-right">
        <a id="menu-button"
            href="#"
            (click)="$event.preventDefault();toggle()">
            <i></i>
        </a>

        <ul class="topbar-items animated fadeInDown">
            <li #profile
                class="profile-item">

                <a [routerLink]="">
                    <img class="profile-image"
                        src="assets/layout/images/avatar.jpg">
                </a>

                <ul class="ultima-menu animated fadeInDown">
                    <li role="menuitem">
                        <a [routerLink]=""
                            (click)="logout()">
                            <i class="material-icons">power_settings_new</i>
                            <span>Logout</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
