$primaryColor: #2751a4;
$primaryDarkColor: #212944;
$primaryLightColor: #81D4FA;
$accentColor: #455cc7;
$accentDarkColor: #FF8F00;
$accentLightColor: #FFE082;
$accentTextColor: #FFF;

@import '../sass/theme/_theme';
