$primaryColor: #45b4e2;
$primaryDarkColor: #0277BD;
$primaryLightColor: #81D4FA;
$accentColor: #455cc7;
$accentDarkColor: #FF8F00;
$accentLightColor: #FFE082;
$accentTextColor: #FFF;

@import '../sass/theme/_theme';
