$primaryColor: #2751a4;
$primaryDarkColor: #212944;
$primaryLightColor: #81D4FA;
$accentColor: #2751a4;
$accentDarkColor: #FF8F00;
$accentLightColor: #FFE082;
$accentTextColor: #47f8c3;
$darkMenuBgColor: #424242;
$darkMenuHoverColor: #676767;
$darkMenuRouterLinkActiveColor: #2751a4;
$lightMenuRouterLinkActiveColor: #40b5e4;
$horizontalLightMenuRouterLinkActiveColor: #40b5e4;

@import '../../sass/layout/_layout';
